{% ckan_extends %}

{% block primary_content %}
    {% if h.does_have_organization_helper() %}
        {{ super() }}
    {% else: %}      
    <div role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4><b>{{_('You are not part of any Organization. We will assign you to your organization. Please contact us if it does not happen. ')}}</b></h4>
                </div>           
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}