{% ckan_extends %}

{% block primary_content %}
    {% if h.does_have_organization_helper() %}
        {{ super() }}
    {% else: %}      
    <div role="main hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4><b>{{_('You are not part of any Organization yet
                    . We will assign you to your organization. Please wait.
                    Please contact us if you need your access immediately. ')}}</b></h4>
                </div>           
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}