{% import 'macros/form.html' as form %}
{% asset 'ckanext-close-for-guests/custom-login-form-css' %}

<div class="row">
    <div class="col-sm-5 custom_logon_form_box">
        <form action="{{ action }}" method="post">
            {{ form.input('login', label=_("Username"), id='field-login', value="", error=username_error, classes=["control-medium"]) }}
            {{ form.input('password', label=_("Password"), id='field-password', type="password", value="", error=password_error, classes=["control-medium"]) }}
            {{ form.checkbox('remember', label=_("Remember me"), id='field-remember', checked=true, value="63072000") }}
            <br>
            <div class="form-actions">
                <a class="btn btn-default pull-left" href="{{ h.url_for('user.register') }}">{{ _('Create an Account') }}</a>
                <a class="btn btn-default" href="{{ h.url_for('user.request_reset') }}">{{ _('Forgot your password?') }}</a>
                <button class="btn btn-primary" type="submit">{{ _('Login') }}</button>
            </div>
        </form>
    </div>
</div>